.subButton {
    display: inline-flex;
    align-items: center;
    gap: 0.4em;
    min-width: 115px;
    justify-content: center;
    font-weight: 600;
}

.subButton svg {
    font-size: 1.1em;
    flex-shrink: 0;
}

.subButton[aria-pressed="true"],
.subButton:where([variant="secondary"]) {
}

.subButton[aria-pressed="true"]:hover:not(:disabled),
.subButton:where([variant="secondary"]):hover:not(:disabled) {
   background-color: #f0f5ff;
}

@media (max-width: 450px) {
    .buttonText {
    }
    .subButton {
        min-width: auto;
    }
}
